<div class="builder-section">

  <h1>Meet the Owner</h1>
  <img src="owner.jpeg" alt="Owner image">
  <h5>Mr. Sandeep Lourdu Vikash</h5>
  <p>The visionary behind this project is committed to excellence in every aspect.</p>
</div>
  <br>
  <div class="builder-section">
    <h2>About the Builder</h2>
    <img src="builder.png" alt="Builder image">
    <h5>Mr. Builder</h5>
    <p>Our builder has over 20 years of experience in creating luxurious living spaces across the country.</p>
    
  </div>
  